.div-background{
    background-image: url('https://farm1.staticflickr.com/298/31884577341_38c016a2f7_o_d.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    text-shadow: 0px 0px 16px #000, 0px 0px 64px #00f;
}
